.container {
  max-width: 1440px;
  padding: 0 80px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}

.box-one {
  padding-top: 50px;
}

.box__form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 1300px) {
  .content {
    grid-template-columns: auto auto;
  }

  .box {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    grid-template-columns: auto;
  }
}
